<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/CSS/site.css" />
    <title>
        @*ViewBag.Title*@
        @ViewData["Title"]
    </title>
</head>
<body>
    <header>
        <h1>Welcome to my first AVC webpage</h1>
    </header>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Home" asp-action="Page">Page</a>
        <!--need another webpage here-->
    </nav>
    <main>
        @RenderBody() <!--views inject content here-->
    </main>
    <footer>
        &copy;@DateTime.Today.Year
    </footer>
</body>
</html>