   
@{ 
    //Layout = "_Layout";
    //this block pints to the layout you want the page to be.

    // can set ViewData Directly here as well
    //ViewData["Element"] = "Name";
}

<p>
    HomePage
</p>